<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dance/css/site.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block css %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <div class="left-sidebar">
            <div class="logo-container">
                <a href="/"><img src="{% static 'dance/pictures/dance_logo.png' %}" alt="Logo" class="logo"></a>
            </div>
            
            <nav class="sidebar">
                <a id="home" href="{% url 'management_platform' %}" class="nav-item">
                    <i class="nav-icon fas fa-home"></i>
                    <span>Home</span>
                </a>
                
                <a id="artist" href="{% url 'artists_info' %}" class="nav-item">
                    <i class="nav-icon fas fa-users"></i>
                    <span>Artists Info</span>
                </a>
                
                <a id="performance" href="{% url 'performances' %}" class="nav-item">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <span>Performances</span>
                </a>

                <a id="training" href="{% url 'trainings' %}" class="nav-item">
                    <i class="nav-icon fas fa-dumbbell"></i>
                    <span>Trainings</span>
                </a>
                
                <a id="activities" href="{% url 'activities' %}" class="nav-item">
                    <i class="nav-icon fas fa-star"></i>
                    <span>Activities</span>
                </a>
                
                <a id="settings" href="{% url 'settings' %}" class="nav-item">
                    <i class="nav-icon fas fa-cog"></i>
                    <span>Settings</span>
                </a>
            </nav>
        </div>
        
        <div class="top-bar">
            <div class="user-profile">
                <a href="{% url 'user_settings' %}"><img src="{% static 'dance/pictures/default_user.jpg' %}" alt="User Avatar" class="user-avatar"></a>
            </div>
        </div>
        
        <div class="main-content">
            <!-- 页面主要内容 -->
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <p>&copy; {% now "Y" %}</p>
        </footer>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 获取所有导航项
            const navItems = document.querySelectorAll('.nav-item');
            
            // 获取当前页面的 URL 路径
            const currentPath = window.location.pathname;
            
            // 根据当前路径设置对应的导航项为激活状态
            navItems.forEach(item => {
                const href = item.getAttribute('id');
                //console.log(href);
                if (currentPath.includes(href)) {
                    //console.log("in");
                    // 移除其他导航项的 active 类
                    navItems.forEach(nav => nav.classList.remove('active'));
                    // 添加当前导航项的 active 类
                    item.classList.add('active');
                }
            });
        });
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
