{% extends "dance/layout.html" %}
{% block title %}
    Activities
{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dance/css/activities.css' %}"/>
{% endblock %}
{% block content %}
<div class="gallery-container">
    <div class="gallery-grid">
        <!-- 活动海报1 -->
        <div class="poster-card">
            <img src="{% static 'dance/pictures/Dance of the Year.avif' %}" alt="活动海报1" class="poster-image">
            <div class="poster-overlay">
                <div class="poster-title">Dance of the Year</div>
                <div class="poster-date">March 15, 2025</div>
            </div>
        </div>
        
        <!-- 活动海报2 -->
        <div class="poster-card">
            <img src="{% static 'dance/pictures/Street Dance Workshop.jpg' %}" alt="活动海报2" class="poster-image">
            <div class="poster-overlay">
                <div class="poster-title">Street Dance Workshop</div>
                <div class="poster-date">April 1, 2025</div>
            </div>
        </div>
        
        <!-- 活动海报3 -->
        <div class="poster-card">
            <img src="{% static 'dance/pictures/Dance troupe recruitment activities.jpg' %}" alt="活动海报3" class="poster-image">
            <div class="poster-overlay">
                <div class="poster-title">Dance troupe recruitment</div>
                <div class="poster-date">April 20, 2025</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}